<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="Settings" type="Onliner.Configurations.SettingsSection,Onliner.by" allowLocation="true" allowDefinition="Everywhere"/>
    </configSections>
    <Settings 
      Browser="firefox"
      Url="https://www.onliner.by/"
      PathToFile="\Onliner.by\CsvFiles"
      NameFile="Opinions"
      Username="gj-arrow"
      Password="123456789Qwerty"
      ImplicitWait="15"
      ExplicitWait="35"/>
</configuration>
