<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="Settings" type="Onliner.Configurations.CustomSettingsSection,Onliner.by"/>
    </configSections>
    <Settings>
      <Browser>Chrome</Browser>
      <Url>https://www.onliner.by/</Url>
      <!--<PathToFile>"D:\\Student\\Opinions.csv"</PathToFile>-->
    </Settings>
</configuration>