<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="Settings" type="Onliner.Configurations.CustomSettingsSection,Onliner.by"/>
    </configSections>
    <Settings>
      <Browser>Firefox</Browser>
      <Url>https://www.onliner.by/</Url>
      <PathToFile>D:\\Student\\Tasks\\A1QA\\new folder\\2 task git\\Selenium-Webdriver-Task2\\Onliner\\Onliner.by</PathToFile>
      <Username>gj-arrow</Username>
      <Password>123456789Qwerty</Password>
    </Settings>
</configuration>