<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="Settings" type="Onliner.Configurations.SettingsSection,Onliner.by" allowLocation="true" allowDefinition="Everywhere"/>
    </configSections>
  <appSettings>
    <add key="Browser" value="cHromE"/>
    <add key="Url" value="https://www.onliner.by/"/>
    <add key="ImplicitWait" value="15"/>
    <add key="ExplicitWait" value="35"/>
    <add key="NameFile" value="Opinions"/>
    <add key="PathToFile" value="\Onliner.by\CsvFiles"/>
    <add key="Username" value="gj-arrow"/>
    <add key="Password" value="123456789Qwerty"/>
  </appSettings>
</configuration>
